<html>
<head>
<style>
p{
    font-size:large;
    text-indent: 2em;
}
a{
    font-size:x-large;
    margin: 6px;
    padding: 8px;
    border-radius: 6px;
    background: #5daeff88;
}
</style>
</head>
<body>
    <div>
        <h1>请确认你的邮件地址</h1>
        <p>您好！</p>
        <p>在创建班班集账号之前，你需要完成一个简单的验证步骤，让我们确保这是用于你的新账号的注册邮件地址。</p>
        <a href="http://APP_IP:APP_PORT/api/regist/activate/CODE">单击此处进行验证</a>
        <p>谢谢！</p>
        <p style="text-align: right;">——班班集文件收集系统</p>
    </div>
</body>
</html>