<html>
<head>
<style>
p{
    font-size:large;
    text-indent: 2em;
}
a{
    font-size:x-large;
    margin: 6px;
    padding: 8px;
    border-radius: 6px;
    background: #5daeff88;
}
</style>
</head>
<body>
    <div>
        <h1>请及时进行任务提交</h1>
        <p>您好！</p>
        <p>CLASS_NAME 的 COLLECTION_NAME 收集任务将于 COLLECTION_END_TIME 截止</p>
        <a href="http://FRONT_IP:FRONT_PORT/#/Student_collections">单击此处前往提交</a>
        <p>谢谢！</p>
        <p style="text-align: right;">——班班集文件收集系统</p>
    </div>
</body>
</html>